<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAMUEL by Optishell</title>
    <!-- https://www.motobit.com/util/base64-decoder-encoder.asp -->
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAtxJREFUOE+l
    k01sVFUARs99d+Z13szjTX9mOkwqtaUthZbWJiSmEjVGMZEFGzRhgRsTXbiwUUgKRIkYXejCldFE
    kJXGBDfdaUwaA0ZiJaglmDIOpU6YpggzzLTz0/f/rgsl0RA3+u3PWX1H8D8n7uOnVCeC/TTmHieq
    r6FUA2lOYx2aZ3PzK35Nrf2d+adg0n8MGTuJVw6x559Gf/A7SFTwCgdJPvwN+m5JyAdcEXP3JH8J
    TmkMbjtOuLqP1P4Ab2mIeN9NzH02SrWwF3pwCkN0jJRpfyuQ+e+RrTdYnnH/FGw/ewTlvIbzY55Y
    fgl9eDf6Az9jPlVCiBrNi+N4xUfwy1fxSxN0PHQTzDlKL74q6P+oCxlfQdVLYLvow7+R2NOJJhXS
    +BDl2ATRUURM4l5u4hb7iYSGlpskCMcE/adfQnNOoievEktmiPxVIq2T1MQSUXEUVAMxUGdzeRDl
    tIkntxK4GzjVAWJdnwsGzpwiuPECOC7mnjKyYhOIPKK3p8usnktozeBWY/AgUUMQr1wn2m7SWuwl
    ilLo418LRp6dwe87TGDvJLe+gFcYIppsbtGm109MH7+0xXCsNy+8O1gLlnvQLm6jY+gyv/fsRTNW
    0G/PC0Z3nEPTnqE7cw0jPkqzfQHbyadiz5+fnXrHNhKu9d7CW/7d4Iu9dHCbtPUkbrhC9c4IYbQo
    2LnjYyzrCXYNr6OUzp1aQBQ18LZ+aW48mk7IVlQ1ChsYpQNAF9luiR4PKNwwqNWKgtHhw0xNzOL5
    ilTS45drORA1Mpk6zvgZotRdUpdep1o18cM+JneVabUM0pbLDz99Jhgb00nob7O6NoOm1Ulbq8Ri
    /QhxnlzmfUJhU6m8AtEBguAWjVaOMMzSmz2LHxy7d2VJNvscmvYyMAEsAm2knMXzGkh5GqUsYAwo
    otQnVCqfAv79MVlWN4aRRqk8UkocZx1d78V1lwnDNs1m9d9j+g9p/wFk1iyu1pq8ogAAAABJRU5E
    rkJggg==" rel="icon" type="image/x-icon" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <!-- Removed menu hook due to it being removed on mobile, more info here: http://optishell.duckdns.org:2223/login -->
                    <!-- <div id="navbarMenuHeroA" class="navbar-menu"> -->
                        <div class="navbar-middle">
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Profile
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                        
                    <!-- </div> -->
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>