○ motion.service - Motion detection video capture daemon
     Loaded: loaded (]8;;file://JamiesPi/lib/systemd/system/motion.service/lib/systemd/system/motion.service]8;;; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: inactive (dead) since Tue 2024-04-02 00:40:08 BST; 975ms ago
   Duration: 705ms
       Docs: ]8;;man:motion(1)man:motion(1)]8;;
    Process: 3332 ExecStart=/usr/bin/motion (code=exited, status=0/SUCCESS)
   Main PID: 3332 (code=exited, status=0/SUCCESS)
        CPU: 360ms

Apr 02 00:40:08 JamiesPi systemd[1]: Started motion.service - Motion detection video capture daemon.
Apr 02 00:40:08 JamiesPi motion[3332]: [0;1;39m[0;1;31m[0;1;39m[0:motion] [NTC] [ALL] conf_load: Processing thread 0 - config file /etc/motion/motion.conf[0m
Apr 02 00:40:08 JamiesPi motion[3332]: [0:motion] [NTC] [ALL] conf_load: Processing thread 0 - config file /etc/motion/motion.conf
Apr 02 00:40:08 JamiesPi motion[3332]: [0;1;31m[0;1;39m[0;1;31m[0:motion] [ERR] [ALL] myfopen: Error opening file /var/log/motion/motion.log with mode ae: Permission denied[0m
Apr 02 00:40:08 JamiesPi motion[3332]: [0;1;31m[0;1;39m[0;1;31m[0:motion] [EMG] [ALL] motion_startup: Exit motion, cannot create log file /var/log/motion/motion.log: Permission denied[0m
Apr 02 00:40:08 JamiesPi motion[3332]: [0:motion] [ERR] [ALL] myfopen: Error opening file /var/log/motion/motion.log with mode ae: Permission denied
Apr 02 00:40:08 JamiesPi motion[3332]: [0:motion] [EMG] [ALL] motion_startup: Exit motion, cannot create log file /var/log/motion/motion.log: Permission denied
Apr 02 00:40:08 JamiesPi systemd[1]: motion.service: Deactivated successfully.
